<app-header></app-header>
<section>
    <div class="create-service">
        <h2>Adicionar um Serviço</h2>
        <form [formGroup]="serviceForm" (ngSubmit)="createService()">
            <div class="form-group">
                <select class="form-control" formControlName="inputServiceType" id="inServiceType">
                    <option value="">-- Tipo de serviço --</option>
                    @for(st of serviceTypes; track st){
                    <option [value]=st>{{ st }}</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="inDescription">Descrição</label>
                <textarea style="resize: none;" class="form-control" formControlName="inputDescription" id="inputDescription" rows="2" maxlength="100"></textarea>
            </div>
            <div class="form-group">
                <label for="inPrice">Valor por hora:</label>
                <input type="number" class="form-control" formControlName="inputPrice" id="inPrice" step="0.01" min="1">
            </div>
            <button type="submit" class="btn">Criar Serviço</button>
        </form>
    </div>
</section>