<div class="pending-request">
    <div class="info">
        <div class="service-info">
            <h2>Thiago Rocha</h2>
            <p>Pintura interna em casas ou apartamentos com até 100m2</p>
            <h5>Pintura</h5>
            <div class="date-info">
                <div class="date">
                    <i class="bi bi-calendar"></i>
                    <span>15/11/2024</span>
                </div>
                <div class="date">
                    <i class="bi bi-clock"></i>
                    <span>14:30</span>
                </div>
            </div>
        </div>
        <div class="price">
            <span>25,00<span>&#8364;/h</span></span>
        </div>
    </div>
    <div class="buttons">
        <button class="btn btn-danger">Negar</button>
        <button class="btn btn-success">Aceitar</button>
    </div>
</div>