@import "../../../styles/variables.scss";
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    height: 12vh;

    img{
        width: 200px;
    }

    i{
        color: $orange;
        font-size: 2.2em;
    }
}