<app-header></app-header>
<section>
    <div class="profile">
        <div class="img">
            <i class="bi bi-person-circle"></i>
        </div>
        <div class="info">
            <span>{{ user?.nome || 'Carregando...' }}</span>
            <p>{{ user?.email || 'Carregando...' }}</p>
            <p>{{ user?.morada || 'Carregando...' }}</p>
            <a href="#">Alterar<i class="bi bi-pencil"></i></a>
        </div>
    </div>
    <div class="options">
        <ul>
            <a routerLink="/my-requests"><li>Minhas Solicitações</li></a>
            @if(user?.userType == "PROFISSIONAL"){
                <a routerLink="/my-services"><li>Meus Serviços</li></a>
            }
            <a routerLink="/"><li>Notificações</li></a>
            <a routerLink="/login" (click)="logOut()"><li>Log Out <i class="bi bi-box-arrow-right"></i></li></a>
        </ul>
    </div>
</section>
