<app-header></app-header>
<section>
    <div class="profile">
        <div class="img">
            <i class="bi bi-person-circle"></i>
        </div>
        <div class="info">
            <span>Devysson Cardoso</span>
            <p>devyssonsc&#64;gmail.com</p>
            <p>Rua Dr. Júlio de Matos, 431, Porto, Porto</p>
            <a href="#">Alterar<i class="bi bi-pencil"></i></a>
        </div>
    </div>
    <div class="options">
        <ul>
            <a routerLink="/my-requests"><li>Minhas Solicitações</li></a>
            <a routerLink="/"><li>Notificações</li></a>
            <a routerLink="/login"><li>Log Out <i class="bi bi-box-arrow-right"></i></li></a>
        </ul>
    </div>
</section>
