<app-header></app-header>
<section>
    <div class="container">
        <div class="info-service">
            <h3>{{ data?.titulo }}</h3>
            <p>{{ data?.descricao }}</p>
            <span>{{ data?.valorHora }}<span>&#8364;/h</span></span>
        </div>
        <div class="line"></div>
        <div class="info-pro">
            <div class="field">
                <span class="field-title">Profissional</span>
                <p>{{ data?.profissional.nome }}</p>
            </div>
            <!-- <div class="field">
                <span class="field-title">Serviços realizados</span>
                <p>{{ data?.profissional.servicosRealizados }}</p>
            </div> -->
            <div class="field">
                <span class="field-title">Especialidade</span>
                <p>{{ data?.profissional.especialidade }}</p>
            </div>
            <div class="field">
                <span class="field-title">Experiência</span>
                <p><span>{{ data?.profissional.experiencia }}</span> anos</p>
            </div>
        </div>
        <form [formGroup]="requirementForm" (ngSubmit)="requireService()">
            <input type="date" formControlName="inputDate">
            <input type="time" formControlName="inputTime">
            <button type="submit" class="btn">Solicitar Serviço</button>
        </form>
    </div>
</section>