<app-header></app-header>
<section>
    <div class="form-group">
        <input type="text" class="form-control" id="inSearch" placeholder="Pesquisar..." (keyup.enter)="onSearch()">
        <i class="bi bi-search" (click)="onSearch()"></i>
    </div>
    <div class="service-options">
        @for(so of data; track so){
            <app-service-option
                [title]=so.titulo
                [description]=so.descricao
                [pro]=so.profissional.nome
                [price]=so.valorHora
                (click)="showDetails(so.id)"
            >
            </app-service-option>
        }
    </div>
</section>