<app-header></app-header>
<section>
    <form [formGroup]="searchForm">
        <div class="form-group">
            <select formControlName="inputFilteredType" id="inFilteredType" class="form-control" (change)="onSearch()">
                <option value="">-- Tipo de serviço --</option>
                    @for(st of serviceTypes; track st){
                        <option [value]=st.nome>{{st.nome}}</option>
                    }
                    <option value="Plumbing">Plumbing</option>
                    <option value="Electrical">Electrical</option>
            </select>
            <i class="bi bi-search" (click)="onSearch()"></i>
        </div>
    </form>
    <div class="service-options">
        @for(so of data; track so){
            <app-service-option
                [type]=so.tipo.nome
                [description]=so.descricao
                [pro]=so.profissional.nome
                [price]=so.valorHora
                (click)="showDetails(so.id)"
            >
            </app-service-option>
        }
        <app-service-option
            [type]="'Exemplo de Serviço'"
            [description]="'Descrição do serviço exemplo.'"
            [pro]="'Profissional Exemplo'"
            [price]="'100'"
        ></app-service-option>
        <app-service-option
            [type]="'Outro Serviço'"
            [description]="'Descrição de outro serviço.'"
            [pro]="'Outro Profissional'"
            [price]="'150'"
        ></app-service-option>
        <app-service-option
            [type]="'Serviço Adicional'"
            [description]="'Descrição do serviço adicional.'"
            [pro]="'Profissional Adicional'"
            [price]="'200'"
        ></app-service-option>
    </div>
</section>