<app-header></app-header>
<section>
    <p>Minhas solicitações</p>
    <div class="my-requests">
        @for(sol of data; track sol){
                <app-request
                    [id]=sol.id
                    [costumer]=sol.cliente.nome
                    [description]=sol.servico.descricao
                    [type]=sol.servico.tipo
                    [pro]=sol.servico.profissional.nome
                    [date]=sol.data
                    [price]=sol.servico.valorHora
                    [status]=sol.status
                    [address]=sol.cliente.morada
                ></app-request>
        }
        @if(userType == "CLIENTE"){
            <button routerLink="/choose-service" class="btn"><i class="bi bi-plus-circle"></i></button>
        }
    </div>
</section>
