@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'georgia-pro';
    src: url('../public/fonts/GeorgiaPro-CondRegular.woff2') format('woff2'),
        url('../public/fonts/GeorgiaPro-CondRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}